.frontContainer{
    /* border: 1px solid red; */
    padding: 2% 0%;
    margin:5% 0%;
    /* display: flex;
    align-items: center; */
}
.frontContainer h1{
    color: #647DEE;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 0% 3%;
}
.frontContainer-div{
    /* border: 1px solid blue; */
    width: 100%;
    margin: 2% 0%;
    display: flex;
    justify-content: center;
}

.frontContainer-div-grid{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.frontContainer-div-grid:nth-child(2){
    display: flex;
    flex-direction: row-reverse;   
}
.frontContainer-div-grid img{
    /* border: 1px solid green; */
    width: 30%;
    transition: 0.5s;
}
.frontContainer-div-grid img:hover{
    transform: scale(1.1);
}
.gridContent{
    /* border: 1px solid red; */
    margin: 0% 2%;
    display: flex;
    align-items: center;
    width: 50%;
}
.gridContent div{
    /* border: 1px solid blue; */
    width: 100%;
    padding: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    /* background: #249090; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.5); */
}
.gridContent div h2{
    font-family: 'Ubuntu', sans-serif;
}
.gridContent div h4{
    font-weight: 300;
}