
#cardPart-wave0{
    position: absolute;
    bottom: 25%;
    right: 0%;
    height: 65%;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}
#cardPart-wave0 path{
    fill: url(#MyGradient0);
}
#cardPart-wave1{
    position: absolute;
    bottom: 10%;
    right: 0%;
    height: 40%;
    
    /* opacity: 0.4; */
}
#cardPart-wave1 path{
    fill: url(#MyGradient1);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    /* border: 1px solid red; */
    /* box-shadow: rgb(0 0 0 / 0.5); */
}
#cardPart-wave2{
    position: absolute;
    bottom: 5%;
    right: 0%;
    height: 40%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    /* -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7)); */

}
#cardPart-wave2 path{
    fill: url(#MyGradient2);
    opacity: 0.9;
}
#cardPart-wave3{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 40%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
